name: Check connector files

on:
  pull_request:
    branches:
      - '*'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: streamnative/streamnative-ci
          token: ${{ secrets.SNBOT_GITHUB_TOKEN }}
          path: ci
          ref: master

      - uses: actions/checkout@v3
        with:
          repository: streamnative/pulsar-hub
          token: ${{ secrets.SNBOT_GITHUB_TOKEN }}
          ref: ${{ github.ref }}
          path: prm

      - name: checking the pull request
        run: |
          export PATH=${PATH}:${PWD}/ci/projects/pulsar-registry-metadata
          install-dependencies.sh
          pushd prm
          check.sh
          popd


